.container {
  width: 90%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

main > section {
  padding-top: clamp(50px, 8vw, 90px);
  padding-bottom: clamp(50px, 8vw, 90px);
}

.hero-section {
  padding-top: 0;
  padding-bottom: 0;
}
