.btn {
  display: inline-block;
  padding: 0.8em 1.8em;
  border: none;
  border-radius: var(--border-radius);
  background-image: var(--primary-gradient);
  color: var(--text-color-light);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform var(--transition-speed) var(--animation-timing),
    box-shadow var(--transition-speed) var(--animation-timing),
    background-position var(--transition-speed) var(--animation-timing),
    filter var(--transition-speed) var(--animation-timing); /* Adiciona filter */
  box-shadow: var(--shadow-md);
  background-size: 200% auto;
  background-position: 0% 0%;
  filter: brightness(1);
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg);
  background-position: 100% 0%;
  filter: brightness(1.1);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: var(--shadow-sm);
  filter: brightness(0.95);
}

.btn-submit {
  padding: 0.85em 2.2em;
  font-size: 1.05rem;
  margin-top: 10px;
}

.btn-cta {
  background-image: none;
  background-color: var(--text-color-light);
  color: var(--dark-green);
  font-weight: 700;
  filter: brightness(1);
}

.btn-cta:hover {
  background-color: #f0f0f0;
  color: var(--dark-green);
  background-position: 0% 0%;
  filter: brightness(1.05);
}
